@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{padding: 0;margin: 0;box-sizing: border-box;font-family: "Poppins" , sans-serif;}
:root {
    --Bgcolor : #f1f6f7;
    --WhiteBg : #fff;
    --HighLightBg : #cddef8;
    --DarkBgcolor : #020920;
    --SecondBgcolor : #071b5a;
    --MainColor: #0163f5;
    --SidesPad : 15%;
    --Shadow : 3px 5px 9px #dbdbdb24;
}
::-webkit-scrollbar {
    width: .4rem;
    background: white;
}
::-webkit-scrollbar-thumb {
    background: var(--MainColor);
    border-radius: .6rem;
}
html {
    scroll-behavior: smooth;
}
body {
    background: var(--Bgcolor);
}
header {
    position: sticky;
    width: 100%;
    display: flex;
    background: var(--DarkBgcolor);
    align-items: center;
    justify-content: space-between;
    padding: 2rem var(--SidesPad);
    transition: .4s ease-in-out;
    color: white;
    gap: 2rem;
    overflow: hidden;
    z-index: 10;
    top: 0;
}
.logo > img {
    width: 80px;
}
header.sticky {
    padding: .7rem var(--SidesPad);
    background: #ffffffb5;
    color: black;
    backdrop-filter: blur(11px);
}
header.sticky #menu li a {
    color: #000;
}

#open-sidebar {
    display: none;
    border: none;
    justify-content: center;
    align-items: center;
    height: 2.3rem;
    width: 2.3rem;
    font-size: 1.5rem;
    border-radius: 0.6rem;
    background: var(--MainColor);
    color: white;
    cursor: pointer;
}


.logo span {
    color: var(--MainColor);
}
#navigation {
    display: flex;
    align-items: center;
    gap: 1rem;
}
#menu {
    display: inline-flex;
    align-items: center;
    gap: .8em;
    list-style: none;
}
#menu > li > a{
    transition: .4s ease;
    color: white;
    text-decoration: none;
}
#menu > li > a:hover , #menu > li > a.active {
    color: var(--MainColor) !important;
}


.get-started {
    padding: 0.6em 1em;
    border-radius: 999px;
    background: var(--MainColor);
    transition: .4s ease;
    text-align: center;
    display: flex;
    flex-shrink: 0;
    color: white;
    text-decoration: none;
}

.get-started:hover {
    transform: translateY(-4px);
}
section {
    padding: 2rem var(--SidesPad);
    overflow: hidden;
}
#home {
    background: var(--DarkBgcolor);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    min-height: 70vh;
}

#home .text-sec {
    width: 50%;
}

#home .text-sec > h1 {
    color: var(--MainColor);
}
#home .text-sec > p {
    margin: 0.8rem 0 ;
}


#home .img-sec {
    width: 300px;
    display: flex;
    aspect-ratio: 1;
    max-width: 90%;
    position: relative;
}

#home > .img-sec > img {
    width: 100%;
    transform: scale(1.3);
    position: absolute;
    bottom: 0;
}

.btns {
    display: flex;
    align-items: center;
    gap: .7rem;
    margin-top: 0.6rem;
}

.btns > a {
    display: inline-flex;
    padding: 0.5em 1em;
    border-radius: .4em;
    text-decoration: none;
    align-items: center;
    gap: 0.2em;
}




.btns a.type1  {
    background: var(--Bgcolor);
    color: var(--MainColor);
    transition: .4s ease;
}
.btns a.type1:hover {
    background: var(--MainColor);
    color: white;
    gap: .8em;
}

.btns a.type2{
    background: var(--MainColor);
    color: white;
    transition: .4s ease;
}
.btns a.type2:hover {
    gap: .8em;
}

.btns .watch-vid{
    color: white;
    display: inline-flex;
    border-radius: .4em;
    text-decoration: none;
    align-items: center;
    gap: 0.3em;
}

.btns .watch-vid #vid-icon {
    width: 3rem;    
    display: flex;
    aspect-ratio: 1;
    border: none;
    align-items: center;
    justify-content: center;
    color: var(--MainColor);
    background: var(--HighLightBg);
    border-radius: 50%;
    animation: ColorLoop 2s infinite;
    cursor: pointer;
    font-size: 1em;
}


#about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background: var(--WhiteBg);
}



#about .text-sec {
    width: 70%;
}
#about .img-sec {
    width: 380px;
    background: var(--MainColor);
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    border-radius: 0.5em;
    position: relative;
}

#about .img-sec > img {
    width: 140%;
    position: absolute;
    bottom: 0;
}


#about .text-sec > h1 > span {
    color: var(--MainColor);
    font-weight: bold;
}


#about .text-sec > p {
    margin: 0.4rem 0;
}


#about .text-sec > ul li {
    padding: 0.2em 0;
    display: flex;
    align-items: center;
    gap: 0.5em;
    list-style: none;
}

#about .text-sec > ul li::before{
    background: var(--MainColor);
    height: 1em;
    width: 1em;
    content: "";
    display: block;
    border-radius: 50%;
}

.special {
    background: var(--HighLightBg);
    padding: 0.3em 1em;
    border-radius: 999Px;
    margin-bottom: 0.4rem;
    color: var(--MainColor);
    font-weight: BOLD;
    display: flex;
    width: max-content;
    align-items: center;
    gap: 0.5em;
}

.special .icon {
    width: 1.5em;
    height: 1.5em;
    background: var(--Bgcolor);
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    animation: ColorLoop 2s infinite ;
    transition: .4s ease-in;
}




.videoFrame {
    position: fixed;
    z-index: 11;
    height: 100vh;
    width: 100%;
    display: none;
    background: #000000bf;
}

.videoFrame.active {
    display: flex;
    justify-content: center;
    align-items: center;
}
.videoFrame > iframe {
    width: 800px;
    max-width: 90%;
    aspect-ratio: 16/9;
}


#closeFrame {
    position: absolute;
    top: 20px;
    right: 30px;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 2rem;
}


#categories > .special , #courses > .special , #Our-team .special {
    margin: auto;
    margin-bottom: .8rem;
}

#categories > h1 , #courses > h1 {
    text-align: center;
    color: var(--MainColor);
}

.cat-grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px , 1fr));
    gap: 0.6rem;
}
.cat-item {
    padding: 0.5em;
    background: var(--WhiteBg);
    border-radius: 0.5em;
    text-align: center;
    transition: .4s ease;
    box-shadow: var(--Shadow);
}

.cat-item:hover {
    background : var(--MainColor);
    color: white;
    transform: translateY(-4px);
}

.cat-icon {
    width: 100px;
    height: 100px;
    margin: auto;
    background: var(--HighLightBg);
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cat-icon > svg {
    width: 100%;
}

.cat-icon > svg path {
    stroke: var(--MainColor);
    stroke-width: 1px;
}
.cat-summ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.6em;
}


.cat-summ a {
    padding: 0.4em 1em;
    border-radius: 999px;
    background: var(--MainColor);
    transition: .4s ease;
    text-align: center;
    display: flex;
    flex-shrink: 0;
    color: white;
    text-decoration: none;
}


#Ichhar {
    background: var(--DarkBgcolor);
    padding: 2rem var(--SidesPad);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
}


.courses-grid {
    margin-top: 1rem;
    justify-content: center;
    gap: 0.6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
}

.course {
    background: var(--WhiteBg);
    border-radius: 0.6rem;
    overflow: hidden;
    box-shadow: var(--Shadow);
}

.course-img {
    width: 100%;
    aspect-ratio: 16/9;
}

.course-info {
    padding: 0.8em;
}


.author-img {
    width: 2rem;
    height: 2rem;
    aspect-ratio: 1;
    overflow: hidden;
    padding: 0.2em;
    border: 2px solid var(--MainColor);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.author {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.author-name > a {
    color: var(--MainColor);
    text-decoration: none;
    font-weight: bold;
}

.course-title {
    margin-top: 0.5em;
    transition: .4s ease;
    color: black;
    text-decoration: none;
}

.course-title:hover {
    color: var(--MainColor);
}


.course-std {
    display: flex;
    align-items: center;
    gap: 0.6em;
    margin: .5em 0;
}

.course-std > span {
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.course-std > span > ion-icon {
    color: var(--MainColor);
}

.buy-course {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buy-course #addTocart {
    background: var(--MainColor);
    color: white;
    display: inline-flex;
    padding: 0.5em 1em;
    border-radius: .4em;
    align-items: center;
    gap: 0.2em;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.buy-course .price {
    color: var(--MainColor);
    font-weight: bold;
    font-size: 1.2rem;
}
#Our-team {
    background: var(--WhiteBg);
}
#Our-team > h1 {
    text-align: center;
}
#Our-team > h1 > span{
    color: var(--MainColor);
}


.team-members {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(240px,1fr));
    gap: 0.8rem;
    margin-top: 1rem;
}
.member {
    padding: 1rem;
    border: 2px solid #ededed;
    border-radius: 0.6rem;
    overflow: hidden;
    text-align: center;
    transition: .4s ease;
}
.member:hover {
    transform: translateY(-10px);
    border-color: var(--MainColor);
}
.member > .member-img {
    width:10rem;
    border: 4px solid var(--MainColor);
    padding: .6rem;
    aspect-ratio: 1;
    margin: auto;
    display: block;
    border-radius: 50%;
    margin-bottom: .8rem;
    min-width: 90%;
}

.member-social {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: .4rem;
}

.member-social li a {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ededed;
    border-radius: 0.6rem;
    font-size: 1rem;
    color: black;
    transition: .4s ease;
}
.member-social li a:hover {
    background: var(--MainColor);
    color: white;
}


#contact {
    background: var(--WhiteBg);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1rem;
}


#contact .contact-info > h1 > span {
    color: var(--MainColor);
}
.contact-form input {
    border: none;
    background: #ededed;
    padding: 0.8rem 1rem;
    border-radius: 0.6rem;
    outline: none;
    width: 100%;
}
.contact-form button {
    background: var(--MainColor);
    color: white;
    border-radius: .6rem;
    padding: .6rem 1rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.4em;
    font-size: 1rem;
}
.input-double {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin-bottom: .4rem;
}



.contact-form textarea {
    border: none;
    background: #ededed;
    padding: 0.8rem 1rem;
    border-radius: 0.6rem;
    width: 100%;
    margin-top: .4rem;
    resize: vertical;
    min-height: 120px;
    height: 220px;
    max-height: 280px;
    outline: none;
}

.location {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 0.8rem;
}



.footer-top {
    padding: 2rem var(--SidesPad);
    background: var(--DarkBgcolor);
    color: white;
    overflow: hidden;
    display: grid;
    gap: 3rem;
    grid-template-columns: 2fr repeat(3,1fr)

}
footer ul {
    list-style: none;
}

footer ul li a {
    color: rgb(194, 194, 194);
    text-decoration: none;
    transition: .4s ease;
    display: block;
}
footer ul li a:hover {
    color: white;
    transform: translateX(10px);
}

.social-footer {
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    gap: 0.3em;
}
.social-footer li a {
    color: white;
    font-size: 1rem;
    color: white;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--SecondBgcolor);
}
.social-footer li a:hover{
    transform: translateY(-.3rem);
    background: var(--MainColor);
}
.footer-logo > img {
    width: 120px;
}

.footer-bot {
    background: var(--SecondBgcolor);
    color: white;
    padding: 10px var(--SidesPad);
    text-align: center;
}

.footer-bot > a {
    text-decoration: none;
    font-weight: bold;
    color: var(--MainColor);
}



#sidebar {
    background: var(--WhiteBg);
    position: fixed;
    top: 0;
    z-index: 11;
    height: 100vh;
    width: 300px;
    padding: 20px;
    max-width: 90%;
    transform: translateX(-100%);
    transition: .4s ease;
}


#sidebar.active {
    transform: translateX(0);
    box-shadow: var(--Shadow);
}


#close-sidebar{
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 1.2rem;
    cursor: pointer;
}


#sidebar ul {
    list-style: none;
}

#sidebar ul li a {
    display: block;
    padding: 0.5rem 0;
    color: black;
    text-decoration: none;
    transition: .4s ease;
}
#sidebar ul li a:hover {
    color: var(--MainColor);
    transform: translateX(.5rem);
}
@keyframes ColorLoop {
    0% {
        background: var(--Bgcolor);
    }
    50% {
        background-color: var(--MainColor);
        color: white;
    }
    100% {
        background: var(--Bgcolor);
    }
}
